<div class="center">
  <h1>{{title}}</h1>

  <input #newTodoInput id="new-todo-input" class="todo-input"
    (keyup.enter)="addTodo(newTodoInput.value); newTodoInput.value = null" />

  <table class="center table table-sm table-striped table-bordered">
    <tbody>
      <tr appTodoitem *ngFor="let todo of todos">
        <td class="todo-text" [class.todo-done]="todo.done">
          <input
            [class.todo-done]="todo.done"
            [(ngModel)]="todo.text"
            (blur)="updateTodo(todo)" />
        </td>
        <td>
          <input type="checkbox" [checked]="todo.done" (change)="updateTodoDoneStatus(todo)" />
        </td>
        <td>
          <button type="button" class="btn btn-light" (click)="deleteTodo(todo)">X</button>
        </td>

      </tr>
    </tbody>
  </table>

  <button type="button" class="btn btn-danger" (click)="clearDone()">Clear Done</button>
</div>
